@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="time"],
select {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

button {
  @apply bg-gray-300;
}

.profile-container {
  margin-top: 50px; /* Adds space from the top */
  margin-left: auto;
  margin-right: auto;
  width: 30%; /* Adjusts the container's width to 60% of the parent */
  height: 300px; /* Sets a fixed height */
}

button.primary {
  @apply bg-orange-300 p-2 w-full text-white rounded-2xl;
}

.phone-input-container input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
